html {
    scroll-behavior: smooth;
}

body {
    min-width: 270px;
    color: #4d4e53;
    line-height: 1.6;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
}

#navbar {
    min-width: 270px;
    position: fixed;
    width: 35px;
    height: 100%;
    left: 0px;
    top: 0px;
    border-color: rgba(0, 22, 22, 0.4);
    border-right: solid;
}

#main-doc header {
    margin: 0px;
    text-align: left;
}

header {
    margin: 10px;
    text-align: center;
    color: black;
    font-weight: thin;
    font-size: 1.9em;
}

#navbar a {
    width: 100%;
    color:#4d4e53;
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    cursor: pointer;
}

#navbar ul {
    padding: 0px;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

#navbar li {
    width: 100%;
    color: #4d4e53;
    position: relative;
    border-top: 1px solid;
    list-style: none;
}

#main-doc {
    margin-bottom: 111px;
    padding: 25px;
    position: absolute;
    margin-left: 315px;
}

code {
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-wrap: normal;
    word-break: normal;
    display: block;
    line-height: 2;
    background-color: #f7f7f7;
}

section li {
    margin: 15px 0px 0px 20px;
}

section article {
    color: #4d4e53;
    font-size: 0.96em;
    margin: 15px;
}

@media  (max-width: 815px) {
    #navbar ul {
      height: 207px;
      border: 1px solid; 
    }


#navbar {
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
    background-color: white;
}

#main-doc {
    margin-left: 0px;
    margin-top: 270px;
    position: relative;
  }
}


@media (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }


code {
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
    margin-left: -20px;
    width: 100%;
    padding: 15px;  
  }
}
  